{#
/**
 * @file
 * Default theme implementation to present controller.
 *
 * This template is used when viewing form and comments with pager
 *
 */
#}
<div class="all_content">
  <div class="form">{{ form }}</div>
  <div class="container">{{ element }}</div>
  <div class="pager">{{ pager }}</div>
</div>


